.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.fixed .navbar {
    background: rgba(39, 50, 56, 0.95);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2)
}

.navbar {
    height: 60px;
    background: #273238;
    line-height: 60px;
    font-size: 14px;
    position: relative;
    z-index: 100;
}

.navbar .navbar-brand {
    font-size: 16px;
    color: #fff;
    float: left
}

.navbar a {
    padding: 0 22px;
    color: #556f79;
    text-decoration: none;
    display: block;
}

.navbar a .icon-left {
    margin-right: 8px
}

.navbar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar ul.nav.navbar-right {
    float: right
}

.navbar ul.nav > li {
    float: left;
    position: relative;
    transition: all linear .2s;
}

.navbar ul.nav > li:hover > a,
.navbar ul.nav > li.active > a {
    color: #fff
}

.navbar ul.nav > li.active {
    box-shadow: 0 -4px 0 #83cbc4 inset
}

.navbar ul.nav > li:hover ul.dropdown {
    display: block
}

.navbar ul.dropdown {
    min-width: 160px;
    background: #273238;
    white-space: nowrap;
    position: absolute;
    display: none;
    right: 0;
    top: 100%;
}

.navbar ul.dropdown li {
    border-top: 1px solid #1f282d;
    line-height: 50px;
    display: block;
}

.navbar ul.dropdown li a {
    font-size: 13px
}

.navbar ul.dropdown li:hover a {
    color: #fff
}

#login label {
    margin-left: 25px
}

#login input {
    width: 200px;
    padding: 0 25px;
    background: none;
    border: none;
    outline: none;
    display: inline-block;
    line-height: 60px;
    font-size: 14px;
    color: #fff
}