<div class="detail">
    <div ng-show="selectedCategory">
        <div class="edit-container">
            <div class="crud">
                <h2 class="main-subhead">{{editTitle}}</h2>
                <div class="crud-container">
                    <form ng-submit="save()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <label for="categoryName">Name</label>
                            <input name="categoryName" class="form-control" type="text" ng-model="selectedCategory.name" placeholder="Category Name" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>