<div class="detail">
    <div ng-show="selectedPost">
        <div class="content" ng-hide="edit || isNewPost">
            <div class="content-header">
                <div class="content-header-title-container">
                    <h1 class="content-title" ng-bind="selectedPost.title"></h1>
                    <p class="content-subtitle">By
                        <a href="javascript:;" ng-bind="selectedPost.user.name"></a> Updated at <span ng-bind="selectedPost.updated_at"></span></p>
                </div>
                <div class="content-header-controls"><a href="javascript:" class="delete-button btn btn-danger" delete-button confirmed-click="deletePost()">Delete</a><a href="javascript:" class="edit-button btn btn-primary" ng-click="editPost()">Edit</a></div>
            </div>
            <div class="content-body" ng-bind-html="selectedPost.body | markdownToHtml"></div>
            <div class="content-footer">
                <p class="main-subhead">Category / <span ng-bind="selectedPost.category.name"></span></p>
            </div>
        </div>
        <div class="edit-container" ng-show="edit || isNewPost">
            <div class="crud">
                <h2 class="main-subhead">{{editTitle}}</h2>
                <div class="crud-container">
                    <form ng-submit="save()" class="form-horizontal" role="form">
                        <div class="form-group">
                            <input name="postTitle" class="form-control" type="text" ng-model="selectedPost.title" placeholder="Post Title" required>
                        </div>
                        <div class="form-group">
                            <textarea name="postBody" id="postEditor" markdown-editor rows="10" ng-model="selectedPost.body" required></textarea>
                            <label class="btn btn-warning btn-file">
                                选择上传文件 <input type="file" custom-on-change="uploadFile" style="display: none;">
                            </label>
                            <!-- <input type="file" /> -->
                        </div>
                        <div class="form-group">
                            <select ng-change="changeCategory(selectedCategory)" class="form-control" name="postCategory" ng-model="selectedCategory" ng-options="option.name for option in categories track by option.id"></select>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>